<!-- header will be here -->
<% unless @index_data.nil? %>
<section> 
	<div class='default-grid-template m-top-1'>
		<div class = 'featured-article g-col-start-2 g-col-end-12 g-col-md-start-1 col-md-12 g-col-sm-start-1 col-sm-12 bg-s-sm'
		  style = "background:url(<%= url_for(@index_data['feature'].image) if @index_data['feature'].image.attached? %>) no-repeat; background-size: 100% 100%; object-fit: cover; background-position: center; ">
		  <div class='m-left-1 d-flex d-flex-col preview-text'>
			<%= link_to article_path(@index_data['feature'].id) do %>
  				<h1><%= @index_data['feature'].title %></h1>
			<% end %>
		    <h3 class='author'> Written by <%= @index_data['feature'].author.username %> </h3>
		    <p class='bg-white d-inline'><%= @index_data['feature'].text.truncate(95) %></p>
		    </div>
		  </div>
	</div>
</section>
<div class='default-grid-template m-top-1'>
  <section class= 'default-grid-template g-col-start-2 g-col-end-12 g-col-md-start-2 col-md-8 g-col-sm-start-1 col-sm-12 '>
  	<% @index_data['new_from_categories'].each do |c| %>
  		<div class='footer-inner text-overflow-hidden col-lg-4 col-md-12 col-sm-6 row-sm-2' style = "background:url(<%= url_for(c.article.image) if c.article.image.attached? %>) no-repeat; background-size: 100% 100%; object-fit: cover; background-position: center;">
  			<div class='text-container-article-p text-overflow-hidden'>
  			  <%= link_to category_path(c.category.id) do %>
  				  <h2 class='bg-white d-inline'><%= c.category.name %></h2>
			  <% end %>
			  <br>
			  <%= link_to article_path(c.article) do %>
			      <h3 class='m-0 bg-white d-inline'> <%= c.article.title %></h3> 
			  <% end %>
			  <h3 class='author bg-white d-inline'> Written by <%= c.article.author.username %> </h3>
			</div>
  		</div>
  	<% end %>
  </section>
</div>
<% end %>
