<!-- header will be here -->
<% unless @index_data.nil? %>
<section> 

	<div class='default-grid-template m-top-1'>
		
		<div class = 'featured-article g-col-start-2 g-col-end-12'
		  style = "background:url(<%= url_for(@index_data['feature'].image) %>) no-repeat; background-size: 100% auto; object-fit: cover; background-position: center; ">
		  <div class='m-left-1 d-flex d-flex-col preview-text'>
			<%= link_to article_path(@index_data['feature'].id) do %>
  				<h1><%= @index_data['feature'].title %></h1>
			<% end %>
		    <div class='d-flex-break'></div>
		    <h3 class='author'> Written by <%= @index_data['feature'].author.username %> </h3>
		    <div class='d-flex-break'></div>
		    <p class='preview'><%= @index_data['feature'].text.truncate(95) %></p>
		    </div>
		  </div>
	
	</div>
</section>
<div class='default-grid-template m-top-1'>
  <section class= 'default-grid-template g-col-start-2 g-col-end-12 '>
	<% @index_data['new_from_categories'].each do |c| %>
		<div class = 'newest-index col-lg-4' style = "background:url(<%= url_for(c.article.image) %>) no-repeat; background-size: 100% auto; object-fit: cover; background-position: center;">
			<div class='m-left-1 d-flex d-flex-col preview-text '>
				<h1><%= c.category.name %></h1>
			<%= link_to article_path(c.article.id) do %>
			     <h3> <%= c.article.title %></h3> 
			<% end %>
			  <div class='d-flex-break'></div>
			  <h3 class='author'> Written by <%= c.article.author.username %> </h3>
			</div>
		</div>
	<% end %>
  </section>
</div>
<% end %>


