<%= form_for @article do |article| %>
  <div class="field">
    <%= article.label :title %><br />
    <%= article.text_field :title, autofocus: false%>
  </div>
  <div class="field">
    <%= article.label :text %><br />
    <%= article.text_area :text, autofocus: false%>
  </div>
  <div>
    <%= article.submit %>
  </div>
<% end %>
