<header class='header hide-sm'>
  <nav class='default-grid-template'>
    <div class='col-lg-4 d-none'>
      <%= image_tag("bisde-03.png", class: 'logo')%>
    </div>
    <ul id='ulNavbar' class='default-grid-template col-lg-8 col-sm-12'>
      <li class='col-lg-2 col-sm-12 d-flex default-link justify-c-center align-i-center'>
        <% unless current_user.nil? %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        <% else %>
        <%= link_to('Log in!', user_session_path, method: :get) %>
        <% end %>
      </li>
      <li class='col-lg-2 col-sm-12 d-flex default-link justify-c-center align-i-center'><%= link_to('Home', root_path) %> </li>
      <li class='col-lg-2 col-sm-12 d-flex default-link justify-c-center align-i-center'>
        <%= link_to('New', new_article_path, method: :get) %>
      </li> 

        <li class='col-lg-2 col-sm-12 d-flex default-link justify-c-center align-i-center'><%= link_to 'Reviews', category_path(1) %></li>
        <li class='col-lg-2 col-sm-12 d-flex default-link justify-c-center align-i-center'><%= link_to 'Analysis', category_path(2) %></li>
        <li class='col-lg-2 col-sm-12 d-flex default-link justify-c-center align-i-center'><%= link_to 'Upcoming', category_path(3) %></li>

    </ul>
  </nav>
</header>
<header class='hide show-sm '>
<nav role="navigation">
  <div id="menuToggle">
    <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
    <input type="checkbox" />
    
    <!--
    Some spans to act as a hamburger.
    
    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->
    <span></span>
    <span></span>
    <span></span>
    
    <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
    <ul id="menu">
      <a href="#"><li>Log in!</li></a>
      <a href="#"><li>Home</li></a>
      <a href="#"><li>New</li></a>
      <a href="#"><li>Reviews</li></a>
      <a href="#"><li>Analysis</li></a>
      <a href="#"><li>Upcoming</li></a>
      <a href="https://erikterwan.com/" target="_blank"><li>Show me more</li></a>
    </ul>
  </div>
</nav>

</header>
