<!DOCTYPE html>
<html>
  <head>
    <title>RoRCapstonProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,400&display=swap'  %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <header class='header'>
      <nav class='grid-template-default row'>
        <div class='col-4-m'>
         <%= image_tag("bisde-03.png", class: 'logo')%>
        </div>
        <ul class='grid-template-default col-8-m col-start-end'>
          <li class='col-2-m'>
             <%= link_to('Logout', destroy_user_session_path, method: :delete) if signed_in? %></li>
          <li class='col-2-m d-flex'>Articles</li>
          <li class='col-2-m d-flex'>Reviews</li>
          <li class='col-2-m d-flex'>Upcoming</li>
          <li class='col-2-m d-flex'>Analysis</li>
        </ul>
      </nav>
   
    </header>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
    </body>
</html>

